html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

img {
  display: block;
  width: 25%;
}

body {
  margin: 0;
}

.all {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1.5rem;
  margin: 0 auto 1.5rem;
}

.author {
  font-style: italic;
  font-size: .875rem;
}

.column-one {
  border-left: 1px solid #333;
  background-color: #e2e2e2;
  padding: .75rem;
  margin: 0 0 1.5rem;
  flex-grow: 1;
}

.column-two {
  padding: .75rem;
  margin: 0 0 1.5rem;
  background-color: #ccc;
  border-left:  1px solid #333;
  border-right: 1px solid #333;
}

.column-three {
  padding: .75rem;
  margin: 0 0 1.5rem;
  background-color: #aaa;
  border-right: 1px solid #333;
  flex-grow: 1;
}

.column-four {
  border-right: 1px solid #333;
  padding: .75rem;
  margin: 0 0 1.5rem;
  background-color: #999;
  flex-grow: 1;
}

.btn {
  color: #e2e2e2;
  text-decoration: none;
  background-color: #333;
  border: 4px solid #333;
  border-radius: 4px;
}

.btn-small {

}
