html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

img {
  display: block;
  width: 25%;
}

body {
  margin: 0;
    display: flex;
}
